<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="min-h-screen bg-gradient-to-br from-zinc-800 via-black to-zinc-900 text-white p-10 flex flex-col ">

   
    <div class="w-full flex justify-end">
        <a href="/logout" class="bg-red-500 hover:bg-red-600 text-white px-2 py-2 rounded-md text-sm transition">Logout</a>
    </div>

    
    <h5 class="text-2xl font-semibold mt-5 mb-5 text-white">Edit Your Post</h5>

    
    <form method="post" action="/update/<%= post._id %>" class="w-full flex flex-col  gap-3">
        <textarea 
            name="content" 
            placeholder="What's on your mind?" 
            class="w-1/3 min-h-[120px] p-3 border-2 border-gray-300 rounded-lg bg-white bg-opacity-80 backdrop-blur-sm text-black outline-none resize-none focus:border-blue-500 transition"
        ><%= post.content %></textarea>

        <input 
            type="submit" 
            value="Update Post" 
            class="px-4 py-2 w-40 bg-blue-500 hover:bg-blue-600 text-white rounded-lg font-semibold transition"
        >
    </form>

</body>
</html>